* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 0 100px;
  display: flex;
  align-items: center;
  background: whitesmoke;
}

.banner:before {
  content: "";
  position: absolute;
  top: 0;
  left: 300px;
  width: 400px;
  height: 320px;
  background: #4ade80;
  z-index: 1;
  transition: 1s;
}

.banner.active:before {
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgb(19, 92, 19);
}

.banner:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 100px;
  width: 400px;
  height: 200px;
  background: rgb(19, 92, 19);
  z-index: 1;
  transition: 1s;
}

.banner.active:after {
  bottom: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: #4ade80;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
}

header .logo {
  font-size: 2em;
  color: black;
  font-weight: 700;
  text-decoration: none;
  transition: 0.5s;
  transform-origin: right;
}

.banner.active .logo {
  transform: scale(0);
  transform-origin: left;
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  background: url(./img/hamburger-menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60px;
  cursor: pointer;
}

.toggle.active {
  background: url(./img/close-menu.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60px;
}

.product {
  position: relative;
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5%;
  transform-origin: right;
}

.banner.active .product {
  transform: scale(0);
  transform-origin: left;
}

.product .product-text {
  max-width: 500px;
}

.product .product-text h2 {
  font-size: 4em;
  line-height: 1em;
  color: black;
  text-transform: uppercase;
}

.product .product-text p {
  font-size: 1em;
  color: black;
  margin: 20px 0;
}

.product .product-text b {
  display: inline-block;
  border: 1px solid black;
  color: black;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.5s;
}

.product .product-text a {
  display: inline-block;
  border: 1px solid black;
  color: black;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.5s;
}

.product .product-text a:hover {
  /* letter-spacing: 4px; */
  background: rgb(44, 226, 150);
  color: #111;
}

.image-burger img {
  max-width: 100%;
  min-width: 400px;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0s;
}

.banner.active .menu {
  visibility: visible;
  opacity: 1;
  transition-delay: 1s;
}

/* Profile */
.profile {
  position: relative;
  width: 350px;
  height: 190px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
}

.profile:hover {
  height: 450px;
}

.imgBx {
  position: absolute;
  left: 50%;
  top: -50px;
  transform: translateX(-50%);
  width: 150px;
  height: 150px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
  overflow: hidden;
  transition: 0.5s;
}

.profile:hover .imgBx {
  width: 250px;
  height: 250px;
}

.imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile .all {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

.profile .all .details {
  padding: 40px;
  text-align: center;
  width: 100%;
  transition: 0.5s;
  transform: translateY(150px);
}

.profile:hover .all .details {
  transform: translateY(0px);
}

.profile .all .details h2 {
  font-size: 1.25em;
  font-weight: 600;
  color: #555;
  line-height: 1.2em;
}

.profile .all .details h2 span {
  font-size: 0.75em;
  font-weight: 500;
  opacity: 0.5;
}

.profile .all .details .data {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.profile .all .details h3 {
  font-size: 1em;
  color: #555;
  line-height: 1.2em;
  font-weight: 600;
}

.profile .all .details h3 span {
  font-size: 0.85em;
  font-weight: 400;
  opacity: 0.5;
}

.profile .all .details .actionBtn {
  margin-top: 5%;
  justify-content: space-between;
}

.profile .all .details .actionBtn button {
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 1em;
  font-weight: 500;
  background: rgb(44, 226, 150);
  color: #fff;
  cursor: pointer;
}

.profile .all .details .actionBtn button:nth-child(2) {
  border: 1px solid #999;
  color: #999;
  background: #fff;
}

.card {
  position: relative;
  width: 300px;
  height: 350px;
  margin: 20px;
  border-radius: 20px;
  transition: 0.5s;
  transition-delay: 0.5s;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
  min-width: 400px;
}
.card:hover {
  width: 600px;
  transition-delay: 0s;
}
.card .circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .circle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: circle(120px at center);
  transition: 0.5s;
}
.card:hover .circle::before {
  clip-path: circle(400px at center);
}
.card .circle .logo {
  position: relative;
  width: 200px;
  transition: 0.5s;
  transition-delay: 0.5s;
}
.card:hover .circle .logo {
  transform: scale(0);
  transition-delay: 0s;
}
.content {
  position: relative;
  width: 50%;
  left: 20%;
  padding: 20px 20px 20px 40px;
  opacity: 0;
  transition: 0.5s;
  visibility: hidden;
}
.card:hover {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.card .product_img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  height: 500px;
  transition: 0.5s;
  transition-delay: 0s;
}
.card:hover .product_img {
  transform: translate(-50%, -50%) scale(1);
  transition-delay: 0.5s;
}
a {
  display: inline-block;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.5s;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.payment {
  background: #f8f8f8;
  max-width: 360px;
  margin: 80px auto;
  height: auto;
  padding: 35px;
  padding-top: 70px;
  border-radius: 5px;
  position: relative;
}

.payment h2 {
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 40px;
  color: #0d3c61;
}

.form .label {
  display: block;
  color: #555555;
  margin-bottom: 6px;
}

.input {
  padding: 13px 0px 13px 25px;
  width: 100%;
  text-align: center;
  border: 2px solid #dddddd;
  border-radius: 5px;
  letter-spacing: 1px;
  word-spacing: 3px;
  outline: none;
  font-size: 16px;
  color: #555555;
}

.card-grp {
  display: flex;
  justify-content: space-between;
}

.card-pay {
  width: 100%;
}

.card-item {
  width: 48%;
}

.space {
  margin-bottom: 20px;
}

.icon {
  position: relative;
}

.icon .fas,
.icon .fa-solid,
.icon .far {
  position: absolute;
  bottom: 12px;
  left: 15px;
  font-size: 20px;
  color: #555555;
}

.btn {
  margin-top: 40px;
  background: #4ade80;
  padding: 12px;
  text-align: center;
  color: #f8f8f8;
  border-radius: 5px;
  cursor: pointer;
}

.payment-logo {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  background: #f8f8f8;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  line-height: 85px;
}

.payment-logo:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 90px;
  height: 90px;
  background: #4ade80;
  border-radius: 50%;
}

.payment-logo p {
  position: relative;
  color: #f8f8f8;
  font-family: "Baloo Bhaijaan", cursive;
  font-size: 58px;
}

@media screen and (max-width: 420px) {
  .card-grp {
    flex-direction: column;
  }
  .card-item {
    width: 100%;
    margin-bottom: 20px;
  }
  .btn {
    margin-top: 20px;
  }
}

/* Responsive Profile */
@media (max-width: 991px) {
  .card {
    width: auto;
    max-width: 350px;
    align-items: flex-start;
  }
  .card:hover {
    height: 600px;
  }
  .card:hover .product_img {
    top: initial;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0%) scale(1);
    height: 300px;
  }
  .card .content {
    width: 100%;
    left: 0;
    padding: 40px;
  }
}

/* Responsive Home */
@media (max-width: 991px) {
  header {
    padding: 20px 40px;
  }
  .banner {
    padding: 40px;
    overflow: hidden;
  }
  .banner:before {
    top: 100px;
    left: 0;
    width: 170px;
    height: 310px;
  }
  .banner:after {
    bottom: 0;
    right: 0;
    width: 80px;
    height: 60px;
  }
  .product {
    flex-direction: column-reverse;
    margin: 50px 0;
  }
  .product .product-text {
    max-width: 100%;
    min-width: 300px;
  }
  .product .product-text h2 {
    font-size: 2.5em;
  }
}
